.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 auto;
}

.front-page{
    height: 690px;
    color: white;
    background: url('/library/files/images/front-page.png');
}

.library-name{
    font-size: 30px;
    font-family: Forum;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: black;
    padding: 0 20px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.navigation-item {
    font-size: 20px;
    margin: 15px;
    font-family: Inter;
}

.navigation a{
    text-decoration: none;
    color: white;
    list-style: none;
}

.profile-pic{

}

.welcome {
    padding-top: 255px;
    height: 345px;
    width: 100%;
    /* background-image: url("/library/files/images/welcome.png"); */
    /* background-color: blue; */
}

.welcome-block {
    margin-left: 20px;
    width: 600px;
    height: 220px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.welcome-block-text {
    font-family: Forum;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    margin: 0px;
}

.about{
    height: 837px;
    background-color: white;
}

.favorites{
    height: 1439px;
    background-color: white;
}

.coffee-shop{
    height: 841px;
    background-color: white;
}

.contacts{
    height: 575px;
    background-color: white;
}

.library-card{
    height: 614px;
    background-color: white;
}

.footer{
    height: 250px;
    background-color: black;
    color: white;
}